@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.btn-primary {
  background-color: #f8df1f;
  color: #080808;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 2% 4% 2% 4%;
}
.paragraph {
  color: #080808;
  font-weight: 400;
  font-size: 1em;
}
